<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipos</title>
</head>
<body>
<h1>Listado de Equipos</h1>
<a href="/equipos/nuevo">Agregar Equipo</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Técnico</th>
        <th>Uniforme</th>
        <th>Dirección</th>
        <th>Estadio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="equipo : ${equipos}">
        <td th:text="${equipo.id}">ID</td>
        <td th:text="${equipo.nombre}">Nombre</td>
        <td th:text="${equipo.tecnico}">Técnico</td>
        <td th:text="${equipo.uniforme}">Uniforme</td>
        <td th:text="${equipo.direccion}">Dirección</td>
        <td th:text="${equipo.estadio}">Estadio</td>
        <td>
            <a th:href="@{'/equipos/eliminar/' + ${equipo.id}}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
