<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Campeonato</title>
</head>
<body>
<h1>Crear Campeonato</h1>
<form th:action="@{/campeonatos/nuevo}" th:object="${campeonato}" method="post">
    <div>
        <label for="equipos">Equipos:</label>
        <input type="text" id="equipos" th:field="*{equipos}">
    </div>
    <div>
        <label for="partidos">Partidos:</label>
        <input type="text" id="partidos" th:field="*{partidos}">
    </div>
    <div>
        <label for="clasificaciones">Clasificaciones:</label>
        <input type="text" id="clasificaciones" th:field="*{clasificaciones}">
    </div>
    <div>
        <button type="submit">Guardar</button>
    </div>
</form>
</body>
</html>
