<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clasificaciones</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Tabla de Clasificación</h1>
<table>
    <thead>
    <tr>
        <th>Equipo</th>
        <th>Puntos</th>
        <th>GF</th>
        <th>GC</th>
        <th>GD</th>
        <th>PJ</th>
        <th>PG</th>
        <th>PE</th>
        <th>PP</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="clasificacion : ${clasificaciones}">
        <td th:text="${clasificacion.equipo.nombre}"></td>
        <td th:text="${clasificacion.puntos}"></td>
        <td th:text="${clasificacion.golesAFavor}"></td>
        <td th:text="${clasificacion.golesEnContra}"></td>
        <td th:text="${clasificacion.diferenciaDeGoles}"></td>
        <td th:text="${clasificacion.partidosJugados}"></td>
        <td th:text="${clasificacion.partidosGanados}"></td>
        <td th:text="${clasificacion.partidosEmpatados}"></td>
        <td th:text="${clasificacion.partidosPerdidos}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
