<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Equipo</title>
</head>
<body>
<h1>Editar Equipo</h1>
<form action="/equipos/modificar/{id}" method="post">
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre" value="${equipo.nombre}"><br>
    <label for="tecnico">Técnico:</label><br>
    <input type="text" id="tecnico" name="tecnico" value="${equipo.tecnico}"><br>
    <label for="uniforme">Uniforme:</label><br>
    <input type="text" id="uniforme" name="uniforme" value="${equipo.uniforme}"><br>
    <label for="direccion">Dirección:</label><br>
    <input type="text" id="direccion" name="direccion" value="${equipo.direccion}"><br>
    <label for="estadio">Estadio:</label><br>
    <select id="estadio" name="estadio">
        <option value="">Seleccionar Estadio</option>
        <th:block th:each="estadio : ${estadios}">
            <option th:value="${estadio.id}" th:text="${estadio.nombre}" th:selected="${estadio.id == equipo.estadio.id}"></option>
        </th:block>
    </select>
    <button type="submit">Guardar Cambios</button>
</form>
</body>
</html>