<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Equipos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Lista de Equipos</h1>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Técnico</th>
        <th>Uniforme</th>
        <th>Dirección</th>
        <th>Estadio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="equipo : ${equipos}">
        <td th:text="${equipo.nombre}"></td>
        <td th:text="${equipo.tecnico}"></td>
        <td th:text="${equipo.uniforme}"></td>
        <td th:text="${equipo.direccion}"></td>
        <td th:text="${equipo.estadio.nombre}"></td>
    </tr>
    </tbody>
</table>
<a href="/">Volver al inicio</a>
</body>
</html>
