<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Estadios</title>
</head>
<body>
<h1>Lista de Estadios</h1>
<a href="/estadios/nuevo">Crear Nuevo Estadio</a>
<table>
    <tr>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th>Capacidad</th>
        <th>Acciones</th>
    </tr>
    <tr th:each="estadio : ${estadios}">
        <td th:text="${estadio.nombre}"></td>
        <td th:text="${estadio.ubicacion}"></td>
        <td th:text="${estadio.capacidad}"></td>
        <td>
            <a th:href="@{/estadios/eliminar/{id}(id=${estadio.id})}">Eliminar</a>
        </td>
    </tr>
</table>
</body>
</html>