<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Estadios</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Lista de Estadios</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Capacidad</th>
        <th>Ubicación</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="estadio : ${estadios}">
        <td th:text="${estadio.id}"></td>
        <td th:text="${estadio.nombre}"></td>
        <td th:text="${estadio.capacidad}"></td>
        <td th:text="${estadio.ubicacion}"></td>
    </tr>
    </tbody>
</table>
<a href="/estadios/create">Crear Estadio</a>
</body>
</html>
