<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Partidos</title>
</head>
<body>
<h1>Listado de Partidos</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Equipo Local</th>
        <th>Equipo Visitante</th>
        <th>Estadio</th>
        <th>Resultado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="partido : ${partidos}">
        <td th:text="${partido.id}"></td>
        <td th:text="${partido.equipoLocal.nombre}"></td>
        <td th:text="${partido.equipoVisitante.nombre}"></td>
        <td th:text="${partido.estadio.nombre}"></td>
        <td th:text="${partido.resultado}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
